<div class="show-recipe">
  <%= cl_image_tag @recipe.photo  unless @recipe.photo.blank? %>
  <h1 class="recipe_name"> <%= @recipe.name %> </h1>
</div>

<table class="table">
  <tbody>
    <thead>
      <th>Ingredients</th>
      <th>Description</th>
    </thead>
    <% @recipe.quantities.each do |quantity| %>
      <tr>
        <td><%= quantity.ingredient.name %></td>
        <td><%= quantity.description %></td>
        <td>
          <%= link_to quantity_path(quantity), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash destroy_quantity"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <%= simple_form_for @recipe do |f| %>
    <div class="form-group">
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit%>
      <% end %>
    </div>
  </tbody>
</table>

    <div class="navbar-s">
      <div id="edit-commands">
        <div class="button">
        <p class="button-p"><%= link_to "add ingredients", new_recipe_quantity_path(@recipe), recipe: @recipe, quantity: @quantity %></p></div>
        <div class="button">
        <p class="button-p"><%= link_to 'Confirm and go back', recipes_path%></p></div>
        <div class="button">
        <p class="button-p"><%= link_to recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" } do %>Delete this item <% end %></p>
      </div>
  <div id ="social">
    <ul>
      <li>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-twitter"></i></a>
      </li>
    </ul>
  </div>
   </div>
  </div>
